<!DOCTYPE html>
<html>
    <head>
        <title>Eat Healthy | Recipe Details</title>
        <style data-th-replace="fragments/head::head"></style>
        <style>
            /* Style the container with a rounded border, grey background and some padding and margin */
            .container { 
                border: 2px solid #ccc; background-color: #eee; border-radius: 5px; padding: 16px; margin: 16px 0; 
            }

            /* Clear floats after containers */
            .container::after { content: ""; clear: both; display: table; }

            /* Increase the font-size of a span element */
            .container span { font-size: 20px; margin-right: 15px; }

            /* Add media queries for responsiveness. This will center both the text and the image inside the container */
            @media (max-width: 500px) {
                .container { text-align: center; }
            }
        </style>
    </head>
    <body>
        <div data-th-replace="fragments/header::header"></div>
        <!-- !PAGE CONTENT! -->
		<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

        <h1><span data-th-text="${recipe.title}" data-th-remove="tag">Title</span></h1>
        
        <table class="w3-table-all w3-hoverable">
            <tr>
                <th class="w3-teal" style="width: 25%">ID</th>
                <td data-th-text="${recipe.id}"></td>
            </tr>
            <tr>
                <th class="w3-teal">Name</th>
                <td data-th-text="${recipe.title}"></td>
            </tr>
            <tr>
                <th class="w3-teal">Dish Type</th>
                <td data-th-text="${recipe.dishType}"></td>
            </tr>
            <tr>
                <th class="w3-teal">Meal Type</th>
                <td data-th-text="${recipe.mealType}"></td>
            </tr>
            <tr>
                <th class="w3-teal" width="300">Ingredients</th>
                <td>
                    <ul> 
                        <li data-th-each="ingredient : ${recipe.ingredients}" data-th-text="|${ingredient.value} ${ingredient.unit} ${ingredient.text}|"></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th class="w3-teal" width="300">Directions</th>
                <td>
                    <ol> 
                        <li data-th-each="direction : ${recipe.directions}" data-th-text="${direction}"></li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th class="w3-teal">Servings</th>
                <td data-th-text="${recipe.servings}"></td>
            </tr>
            <tr>
                <th class="w3-teal">Prep. Time</th>
                <td><span data-th-text="${recipe.prepTime}" data-th-remove="tag"></span> <span class="w3-tiny w3-center">(min.)</span></td>
            </tr>
            <tr>
                <th class="w3-teal">Cook Time</th>
                <td><span data-th-text="${recipe.cookTime}" data-th-remove="tag"></span> <span class="w3-tiny w3-center">(min.)</span></td>
            </tr>
            <tr>
                <th class="w3-teal" width="170">Nutrition</th>
                <td>
                    <ul>
                        <li><strong>Calories: </strong>
                            <span data-th-if="${recipe.nutrition != null}" data-th-text="${recipe.nutrition.calories}" data-th-remove="tag">0</span>kcal
                        </li>
                        <li><strong>Fat: </strong>
                            <span data-th-if="${recipe.nutrition != null}" data-th-text="${recipe.nutrition.fat}" data-th-remove="tag">0.0</span>g
                        </li>
                        <li><strong>Carbs: </strong>
                            <span data-th-if="${recipe.nutrition != null}" data-th-text="${recipe.nutrition.carbs}" data-th-remove="tag">0.0</span>g
                        </li>
                        <li><strong>Protein: </strong>
                            <span data-th-if="${recipe.nutrition != null}" data-th-text="${recipe.nutrition.protein}" data-th-remove="tag">0.0</span>g
                        </li>
                        <li><strong>Cholesterol: </strong>
                            <span data-th-if="${recipe.nutrition != null}" data-th-text="${recipe.nutrition.cholesterol}" data-th-remove="tag">0.0</span>mg
                        </li>
                        <li><strong>Sodium: </strong>
                            <span data-th-if="${recipe.nutrition != null}" data-th-text="${recipe.nutrition.sodium}" data-th-remove="tag">0.0</span>mg
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <hr />

        <form autocomplete="off" data-th-action="@{/comments/add/} + ${recipe.id}" data-th-object="${comment}" method="post" class="w3-container" role="form">
            <input type="hidden" data-th-field="*{id}" />
            <label>Comment:</label>
            <textarea class="w3-input w3-border" style="resize:none" data-th-field="*{text}"></textarea>
            <input type="checkbox" data-th-field="*{recommended}" value="1" class="w3-check" />
            <label>I recommend thie recipe.</label>
            <p>
                <input class="w3-btn w3-btn w3-padding w3-teal" type="submit" value="Send &nbsp; ❯" style="width:120px"/>
            </p>
        </form>
        <hr />

        <h2>Comments</h2>
        <div>
            <div class="container" data-th-each="comment : ${recipe.comments}">
                <p><span data-th-text="|${comment.user.firstName} ${comment.user.lastName}">Chris Fox.</span></p>
                <p data-th-text="${comment.text}">John Doe saved us from a web disaster.</p>
                <p>
                    <span data-th-switch="${comment.recommended}" data-th-remove="tag">
                        <span data-th-case="1" data-th-remove="tag"><i class="material-icons">check</i> Recommended. | </span>
                        <span data-th-case="0" data-th-remove="tag"></span>
                    </span>
                    <span data-th-text="${comment.created}" data-th-remove="tag"></span>
                </p>
            </div>
        </div>

        <!-- End page content -->
        </div>
        <hr />
        <div data-th-replace="fragments/footer::foot"></div>
    </body>
</html>