<!DOCTYPE html>
<html>
	<head>
		<title>User Update</title>
		<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/lib/w3.css" />
	</head>
	<body class="w3-container">

		<div class="w3-row">
            <div class="w3-half w3-card-4">
                <div class="w3-container w3-black">
                    <h2>Update User</h2>
                </div>
				
				<form autocomplete="off" data-th-action="@{/users/update/} + ${user.id}" data-th-object="${user}" data-th-method="put" class="w3-container" role="form">
                    <div class="w3-group"> 
                        <label>First Name:</label>
						<label data-th-if="${#fields.hasErrors('firstName')}" data-th-errors="*{firstName}" class="validation-message"></label>
						<input type="text" data-th-field="*{firstName}" class="w3-input w3-border w3-round" />
                    </div>
					<div class="w3-group"> 
                        <label>Last Name:</label>
						<label	data-th-if="${#fields.hasErrors('lastName')}" data-th-errors="*{lastName}" class="validation-message"></label>
						<input type="text" data-th-field="*{lastName}" class="w3-input w3-border w3-round" />
                    </div>
					<div class="w3-group">
						<input type="radio" data-th-field="*{gender}" value="Male" class="w3-radio" />
						<label>Male</label>
						<input type="radio" data-th-field="*{gender}" value="Female" class="w3-radio" />
						<label>Female</label>
					</div>
					<div class="w3-group"> 
                        <label>Email:</label>
						<input type="text" data-th-field="*{email}" class="w3-input w3-border w3-round" /> 
						<label data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}" class="validation-message"></label>
                    </div>
					<div class="w3-group"> 
                        <label>Password:</label>
						<input type="password" data-th-field="*{password}" class="w3-input w3-border w3-round" /> 
						<label data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}" class="validation-message"></label>
                    </div>
                    <div class="w3-group"> 
                        <label>Roles:</label>
                        <div th:each="role : ${allRoles}">
                            <input type="checkbox" data-th-field="*{roles}" data-th-value="${role}" class="w3-check" />
                            <label th:text="${role}">ROLE</label>
                        </div>
                    </div>
                    
                    <div class="w3-group"> 
                        <input class="w3-btn w3-blue-grey" type="submit" value="Update User"/>
                    </div>

					<div class="w3-group">
						<span data-th-utext="${successMessage}"></span>
					</div>
                </form>
            </div>
        </div>

	</body>
</html>