    <head th:fragment="head" th:remove="tag">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <style>
            body, h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif;}
            .w3-group {margin-top: 8px;}
            .inline-input { display: inline-block; width: auto; }
        </style>
    </head>