	<div th:fragment="header" th:remove="tag">
		<!-- Navbar -->
		<div class="w3-top">
			<div class="w3-bar w3-white w3-padding w3-card-2" style="letter-spacing:4px;">
				<a data-th-href="@{/}" class="w3-bar-item w3-button">Eat Healthy</a>
				<!-- Right-sided navbar links. Hide them on small screens -->
				<div class="w3-right w3-hide-small">
					<a data-th-href="@{/recipes}" class="w3-bar-item w3-button" data-th-if="${#httpServletRequest.remoteUser}">Recipes</a>
					<a data-th-href="@{/users}" class="w3-bar-item w3-button" data-th-if="${#httpServletRequest.remoteUser}">Users</a>
					<a data-th-href="@{/about}" class="w3-bar-item w3-button">About</a>
					<a href="#contact" class="w3-bar-item w3-button">Contact</a>
					<a data-th-href="@{/public/api/users/profile}" class="w3-bar-item w3-button" data-th-if="${#httpServletRequest.remoteUser}">Profile</a>
					<a data-th-href="@{/login}" class="w3-bar-item w3-button w3-khaki" data-th-unless="${#httpServletRequest.remoteUser}">Login</a>
					<form class="w3-bar-item" style="padding:0;" data-th-action="@{/logout}" method="post" data-th-if="${#httpServletRequest.remoteUser}">
						<input class="w3-button w3-khaki" type="submit" value="Sign Out"/>
					</form>
					<a data-th-href="@{/registration}" class="w3-bar-item w3-button w3-black" data-th-unless="${#httpServletRequest.remoteUser}">Sign Up</a>
				</div>
			</div>
		</div>

	</div>