<!DOCTYPE html>
<html>
    <head>
        <title>Eat Healthy | Contact Us</title>
        <style data-th-replace="fragments/head::head"></style>
    </head>
    <body>
        <div data-th-replace="fragments/header::header"></div>
        <!-- !SEARCH BAR! -->
        <div class="w3-card w3-light-grey w3-padding" style="margin-top:55px">
            <div class="w3-row">
                <div class="w3-col s1 w3-right-align">
                    <!--<a class="w3-bar-item w3-button w3-light-grey w3-hover-light-grey"><i class="material-icons">search</i></a>-->
                </div>
                <div class="w3-col s10">
                    <!--<input class="w3-input w3-light-grey w3-large w3-border-0 focus-no" type="text" name="search" placeholder="Find a recipe..." />-->
                </div>
            </div>
        </div>

        <!-- !PAGE CONTENT! -->
		<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:40px">

        <h1>Contact Us</h1>

        <div>
            <p>
                Coming Soon!
            </p>
        </div>
        
        <!-- End page content -->
        </div>
        <hr />
        <div data-th-replace="fragments/footer::foot"></div>
    </body>
</html>