<!DOCTYPE html>
<html>
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1 data-th-inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

        <p>Click <a data-th-href="@{/recipes}">here</a> to see your recipe's.</p>
        
        <ul>
            <li><a data-th-href="@{/admin/users}">Users Management</a></li>
        </ul>

        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        
    </body>
</html>