<!DOCTYPE html>
<html>
    <head>
        <title>Eat Healthy | Profile</title>
        <style data-th-replace="fragments/head::head"></style>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.7.1.min.js"></script>
        <script>
            $(function() {  
                $('#clickme').click(function() {
                    $.ajax({
                    url: '<span data-th-text="@{/public/api/users/}+${user.id}" data-th-remove="tag"></span>',
                    dataType: 'json',
                    success: function(data) {
                        var items = [];

                        $.each(data, function(key, val) {

                            items.push('<li id="' + key + '">'+ key +': ' + val + '</li>');    

                        });

                        $('<ul/>', {
                            'class': 'interest-list',
                            html: items.join('')
                        }).appendTo('#data');

                    },
                    statusCode: {
                        404: function() {
                        alert('There was a problem with the server.  Try again soon!');
                        }
                    }
                    });
                });
                });
        </script>
    </head>
    <body>
        <div data-th-replace="fragments/header::header"></div>
        <!-- !PAGE CONTENT! -->
		<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

        <h1>User Profile!</h1>

        <a href="#" id="clickme">Get JSON Data</a>
        <div id="data"></div>

        <!-- End page content -->
        </div>
        <hr />
        <div data-th-replace="fragments/footer::foot"></div>
        
    </body>
</html>